<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lApiUserMapper">
	
	<resultMap id="ApiUser" type="com.wph.api.admin.core.model.ApiUser" >
		<result column="id" property="id" />
		<result column="username" property="userName" />
	    <result column="password" property="password" />
	    <result column="type" property="type" />
	    <result column="realname" property="realName" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.username,
		t.password,
		t.type,
		t.realname
	</sql>

	<insert id="add" parameterType="com.wph.api.admin.core.model.ApiUser" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO api_user (
			userName,
			password,
			`type`,
			realname
		) VALUES (
			#{userName},
			#{password},
			#{type},
			#{realName}
		);
	</insert>

	<update id="update" parameterType="com.wph.api.admin.core.model.ApiUser" >
		UPDATE api_user
		SET
			password = #{password},
			`type` = #{type},
			realname = #{realName}
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Integer" >
		DELETE FROM api_user
		WHERE id = #{id}
	</delete>

	<select id="findByUserName" parameterType="java.lang.String" resultMap="ApiUser">
		SELECT <include refid="Base_Column_List" />
		FROM api_user AS t
		WHERE t.userName = #{userName}
	</select>

	<select id="findById" parameterType="java.lang.Integer" resultMap="ApiUser">
		SELECT <include refid="Base_Column_List" />
		FROM api_user AS t
		WHERE t.id = #{id}
	</select>

	<select id="loadAll" parameterType="java.lang.Integer" resultMap="ApiUser">
		SELECT <include refid="Base_Column_List" />
		FROM api_user AS t
		ORDER BY id DESC
	</select>

</mapper>